* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #7D7676;
    --clr-light-black: #3A3C3F;
    --clr-secondary: #000000;
    --clr-accent: #18D26E;

}

body {
    font-family: 'Poppins', sans-serif;
}

/* nav */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin: 1rem 2rem;
}

ul li a {
    text-decoration: none;
    color: var(--clr-primary);
}

ul li a:hover {
    color: var(--clr-secondary);
    font-weight: 600;
}

li .active {
    color: var(--clr-secondary);
    font-weight: 600;
    border-bottom: 3px solid var(--clr-accent);
}

.hamburger {
    display: none;
}

/* nav --> */


/* main container */
.main-container {
    display: flex;
    flex-direction: column;
}

.flex {
    align-self: center;
    text-align: center;
}
/* main container --> */

/* img container */
.img-container {
    width: 20rem;
    height: 20rem;

}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* img container --> */

/* paragraphs */
.paragraphs {
    font-size:2rem;
}

.intro {
    margin-top: 1rem;
}

.paragraphs .work {
    font-weight: 600;
    margin-bottom: 1rem;
}
.self {
    font-size: 1.2rem;
    color: var(--clr-primary);
    margin-bottom: 1rem;
}
/* paragraphs --> */

/* brand */
.brand {
    font-size: 3rem;
}

.brand a {
    text-decoration: none;
    color: var(--clr-light-black);
    cursor: pointer;
}

.brand a:hover {
    color: var(--clr-accent);
}
/* brand --> */

/* Hamburger */
.nav {
    display: none;
}
/* Hamburger --> */


@media screen and (max-width: 600px) {
    /* nav */
    ul {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        color: var(--clr-secondary);
        cursor: pointer;
    }
    .hamburger:hover {
        color: var(--clr-accent);
    }

    .hamburger i {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    /* nav --> */

    /* img container */
    .img-container {
        margin-top: 2rem;
    }
    /* img container --> */

    /* paragraphs */
    .paragraphs {
        font-size:1.3rem;
    }

    .paragraphs .work {
        font-weight: 600;
    }
    .self {
        font-size: 1rem;
        color: var(--clr-primary);
        margin: .5rem;
    }
    /* paragraphs --> */

    /* brand */
    .brand {
        font-size: 2rem;
    }
    /* brand --> */



    /* Hamburger */
    .nav {
        position: relative;
        display: flex;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 3rem;
        background-color: #3A3C3F;
        color: white;

        display: flex;
        justify-content: space-around;

        padding-top: .4rem;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }

    .navbar a {
        text-decoration: none;
        color: white;
    }

    .navbar a:hover {
        color: #18D26E;
    }

    .ham-active a {
        color: #18D26E;
        font-weight: 600;

    }
    /* Hamburger --> */
}


